
body {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  color: white;
}

.outer-div {
  display: flex;
  width: 700px;
}

.movie-card {
  display: flex;
  margin: 5em;
  width: 90%;
}

.about-movie {
  display: flex;
  flex-direction: column;
  margin: 0 3em;
}

nav {
  display: flex;
  justify-content: space-between;
}
a {
  color: white;
}

.movie-description {
  margin-top: 5em;
}

.right-side {
  border-left: 1px solid;
}

.socials {
  width: 80%;
  margin-left: 3em;
  margin-bottom: 1em;
}

.movie-info {
  width: 80%;
  margin: 0 3em 3em;
  border-top: 1px solid;
}

h5 {
  margin: 1em 0;
}
p {
  margin-top: 5px;
  margin-bottom: 2.5em;
}