
html,
body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    background-color: #7c7587;
    /*color: #fff;*/
    font-size: 16px;
    margin: 0;
    max-width: 2000px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
