.all-slides-wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.slide-title {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: bold;
  margin-bottom: 20px;
}

.all-cards-wrapper {
  display: flex;
  width: 80vw;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  overflow-x: scroll;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card-wrapper {
  margin: 2em;
  height: 300px;
  transition: all 0.3s ease-in-out;
}
.card-wrapper:hover {
  transform: scale(1.05);
}

.card-image {
  height: 250px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.card-feature-wrapper {
  background-size: contain;
  position: relative;
  height: 360px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: black;
}

.card-title {
  color: white;
  max-width: 640px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-description {
  color: white;
  max-width: 500px;
  font-size: 18px;
  font-weight: 500;
}

.card-feature-close {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}

.card-feature-close img {
  filter: brightness(0) invert(1);
  width: 24px;
}

.frame {
  width: 100%;
  height: 100%;
}

.player-overlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  top: 10vh;
  left: 0;
  width: 100%;
  min-height: 70vh;
  height: 70vh;
  background: rgba(0, 0, 0, 0.5);
}

.player-wrapper-home {
  position: relative;
}

@media (max-width: 650px) {
  .all-cards-wrapper {
    flex-direction: column;
  }
  .slide-title {
    text-align: center;
  }
}